h1
{
    color:rgb(48, 32, 23);
    font-size: 50px;
    font-family: fantasy;

}
html {
    background:
        fixed
        center / cover
        url('fondécran.avif')
      ;
  }
  body
  {
    color: rgb(48, 32, 23);
    font-family: fantasys;

}

img
{
    border-radius: 20px;
}
video
{
    border-radius: 20px;
}
p
{
    font-family: fantasy;
    color:black
}
